# Biodiversity Dataset

This dataset is from the National Parks Service about endangered species in different parks.

> ## Exploring Data:

First, I want to know the number of columns, what type they are, unique and number of unique values they contain. From there, I can know if I have missing data and explore it further to know how to treat it.

In [1]:
# Importing libraries and read both datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

observations = pd.read_csv('observations.csv')
species = pd.read_csv('species_info.csv')

In [2]:
# Merge both datasets into a single one and look at the merged information
biodiversity = species.merge(right = observations, how = 'outer', on = 'scientific_name')
biodiversity.head()

,category,scientific_name,common_names,conservation_status,park_name,observations
0,Vascular Plant,Abies bifolia,Rocky Mountain Alpine Fir,NaN,Bryce National Park,109
1,Vascular Plant,Abies bifolia,Rocky Mountain Alpine Fir,NaN,Yellowstone National Park,215
2,Vascular Plant,Abies bifolia,Rocky Mountain Alpine Fir,NaN,Great Smoky Mountains National Park,72
3,Vascular Plant,Abies bifolia,Rocky Mountain Alpine Fir,NaN,Yosemite National Park,136
4,Vascular Plant,Abies concolor,"Balsam Fir, Colorado Fir, Concolor Fir, Silver...",NaN,Great Smoky Mountains National Park,101

In [3]:
# Get to know the number of columns, their data type and null values
biodiversity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25632 entries, 0 to 25631
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   category             25632 non-null  object
 1   scientific_name      25632 non-null  object
 2   common_names         25632 non-null  object
 3   conservation_status  880 non-null    object
 4   park_name            25632 non-null  object
 5   observations         25632 non-null  int64
dtypes: int64(1), object(5)
memory usage: 1.2+ MB

In [4]:
# Number of unique values
for column in biodiversity.columns:
    print(f'{column} unique values:')
    print(biodiversity[column].nunique())

category unique values:
7
scientific_name unique values:
5541
common_names unique values:
5504
conservation_status unique values:
4
park_name unique values:
4
observations unique values:
304

In [5]:
# Unique values for 'Category', 'Conservation Status' and 'Park Name' (fewest count of unique values)
columns_unique_values = ['category', 'conservation_status', 'park_name']

for column in columns_unique_values:
    print(f'{column} unique values:')
    print(biodiversity[column].unique())

category unique values:
['Vascular Plant' 'Nonvascular Plant' 'Bird' 'Amphibian' 'Reptile'
 'Mammal' 'Fish']
conservation_status unique values:
[nan 'Species of Concern' 'Threatened' 'Endangered' 'In Recovery']
park_name unique values:
['Bryce National Park' 'Yellowstone National Park'
 'Great Smoky Mountains National Park' 'Yosemite National Park']

In [119]:
# See duplicated values
biodiversity[biodiversity.duplicated() == True]

,category,scientific_name,common_names,conservation_status,park_name,observations
1668,Vascular Plant,Arctium minus,"Lesser Burdock, Lesser Burrdock",NaN,Yosemite National Park,162
1676,Vascular Plant,Arctium minus,"Beggar's Button, Burdock, Common Burdock, Less...",NaN,Yosemite National Park,162
2741,Vascular Plant,Botrychium virginianum,Rattlesnake Fern,NaN,Yellowstone National Park,232
2749,Vascular Plant,Botrychium virginianum,"Common Grapefern, Rattlesnake Fern",NaN,Yellowstone National Park,232
5638,Vascular Plant,Cichorium intybus,"Chickory, Chicory",NaN,Yellowstone National Park,266
5646,Vascular Plant,Cichorium intybus,"Blue Sailors, Chickory, Chicory, Coffeeweed, C...",NaN,Yellowstone National Park,266
8119,Vascular Plant,Echinochloa crus-galli,Barnyard Grass,NaN,Great Smoky Mountains National Park,62
8127,Vascular Plant,Echinochloa crus-galli,"Barnyard Grass, Barnyardgrass, Cockspur, Japan...",NaN,Great Smoky Mountains National Park,62
8245,Vascular Plant,Eleocharis palustris,Spike-Rush,NaN,Great Smoky Mountains National Park,62
8253,Vascular Plant,Eleocharis palustris,"Common Spikerush, Creeping Spikerush, Creeping...",NaN,Great Smoky Mountains National Park,62
10967,Vascular Plant,Hesperis matronalis,Dames Rocket,NaN,Bryce National Park,124
10975,Vascular Plant,Hesperis matronalis,"Dames Rocket, Dame's Rocket, Dames Violet, Mot...",NaN,Bryce National Park,124
15007,Vascular Plant,Monotropa hypopithys,"American Pinesap, Pine-Sap",NaN,Great Smoky Mountains National Park,73
15015,Vascular Plant,Monotropa hypopithys,Pinesap,NaN,Great Smoky Mountains National Park,73
17699,Vascular Plant,Plantago major,"Nipple-Seed Plantain, Plantain",NaN,Great Smoky Mountains National Park,90
17707,Vascular Plant,Plantago major,"Broadleaf Plantain, Buckhorn Plantain, Common ...",NaN,Great Smoky Mountains National Park,90
17958,Vascular Plant,Poa compressa,"Canada Bluegrass, Canada Bluegrass, Wiregrass",NaN,Great Smoky Mountains National Park,80
17966,Vascular Plant,Poa compressa,"Canada Bluegrass, Flat-Stem Blue Grass",NaN,Great Smoky Mountains National Park,80
18936,Vascular Plant,Potentilla norvegica,"Norwegian Cinquefoil, Rough Cinquefoil",NaN,Yosemite National Park,148
18944,Vascular Plant,Potentilla norvegica,Norwegian Cinquefoil,NaN,Yosemite National Park,148
19082,Vascular Plant,Prunella vulgaris,"Heal-All, Self-Heal",NaN,Great Smoky Mountains National Park,75
19090,Vascular Plant,Prunella vulgaris,"Common Selfheal, Heal All, Healall, Selfheal",NaN,Great Smoky Mountains National Park,75
20727,Vascular Plant,Salix exigua,"Coyote Willow, Desert Willow, Narrowleaf Willo...",NaN,Yosemite National Park,186
20735,Vascular Plant,Salix exigua,Narrow-Leaved Willow,NaN,Yosemite National Park,186
22650,Mammal,Spilogale putorius,Eastern Spotted Skunk,NaN,Yellowstone National Park,256
22658,Mammal,Spilogale putorius,Spotted Skunk,NaN,Yellowstone National Park,256
23018,Bird,Streptopelia decaocto,Eurasian Collared-Dove,NaN,Yellowstone National Park,255
23030,Bird,Streptopelia decaocto,"Eurasian Collared Dove, Eurasian Collared-Dove",NaN,Yellowstone National Park,255
23042,Bird,Streptopelia decaocto,Eurasian Collared Dove,NaN,Yellowstone National Park,255
24086,Vascular Plant,Trifolium campestre,"Low Hop Clover, Low Hop-Clover",NaN,Yellowstone National Park,239
24094,Vascular Plant,Trifolium campestre,"Big Hop Clover, Field Clover, Large Hop Clover...",NaN,Yellowstone National Park,239

> ## Exploring missing data:

In [6]:
# Get the % of missing data
max_rows = len(biodiversity)

print('% Missing Data:')
print((1 - biodiversity.count() / max_rows) * 100)

% Missing Data:
category                0.000000
scientific_name         0.000000
common_names            0.000000
conservation_status    96.566792
park_name               0.000000
observations            0.000000
dtype: float64

In [7]:
# Get every row with nan values
biodiversity[biodiversity.conservation_status.isna() == True]

,category,scientific_name,common_names,conservation_status,park_name,observations
0,Vascular Plant,Abies bifolia,Rocky Mountain Alpine Fir,NaN,Bryce National Park,109
1,Vascular Plant,Abies bifolia,Rocky Mountain Alpine Fir,NaN,Yellowstone National Park,215
2,Vascular Plant,Abies bifolia,Rocky Mountain Alpine Fir,NaN,Great Smoky Mountains National Park,72
3,Vascular Plant,Abies bifolia,Rocky Mountain Alpine Fir,NaN,Yosemite National Park,136
4,Vascular Plant,Abies concolor,"Balsam Fir, Colorado Fir, Concolor Fir, Silver...",NaN,Great Smoky Mountains National Park,101
...,...,...,...,...,...,...
25627,Nonvascular Plant,Zygodon viridissimus,Zygodon Moss,NaN,Bryce National Park,100
25628,Nonvascular Plant,Zygodon viridissimus var. rupestris,Zygodon Moss,NaN,Yellowstone National Park,237
25629,Nonvascular Plant,Zygodon viridissimus var. rupestris,Zygodon Moss,NaN,Bryce National Park,102
25630,Nonvascular Plant,Zygodon viridissimus var. rupestris,Zygodon Moss,NaN,Yosemite National Park,210
25631,Nonvascular Plant,Zygodon viridissimus var. rupestris,Zygodon Moss,NaN,Great Smoky Mountains National Park,102

In [11]:
biodiversity.category.groupby(biodiversity.conservation_status).value_counts()

conservation_status  category
Endangered           Mammal                44
                     Bird                  16
                     Fish                  12
                     Amphibian              4
                     Vascular Plant         4
In Recovery          Bird                  12
                     Mammal                12
Species of Concern   Bird                 320
                     Vascular Plant       172
                     Mammal               168
                     Nonvascular Plant     20
                     Reptile               20
                     Amphibian             16
                     Fish                  16
Threatened           Fish                  20
                     Amphibian              8
                     Mammal                 8
                     Vascular Plant         8
Name: count, dtype: int64

In [18]:
missing_data_by_category = biodiversity.conservation_status.isnull().groupby(biodiversity.category).sum().reset_index()
print(missing_data_by_category)

            category  conservation_status
0          Amphibian                  300
1               Bird                 2016
2               Fish                  476
3             Mammal                  968
4  Nonvascular Plant                 1312
5            Reptile                  304
6     Vascular Plant                19376

In [19]:
missing_data_by_park = biodiversity.conservation_status.isnull().groupby(biodiversity.park_name).sum().reset_index()
print(missing_data_by_park)

                             park_name  conservation_status
0                  Bryce National Park                 6188
1  Great Smoky Mountains National Park                 6188
2            Yellowstone National Park                 6188
3               Yosemite National Park                 6188

In [117]:
biodiversity.groupby(['category', 'park_name']).count()

                                                       scientific_name  \
category          park_name
Amphibian         Bryce National Park                               82
                  Great Smoky Mountains National Park               82
                  Yellowstone National Park                         82
                  Yosemite National Park                            82
Bird              Bryce National Park                              591
                  Great Smoky Mountains National Park              591
                  Yellowstone National Park                        591
                  Yosemite National Park                           591
Fish              Bryce National Park                              131
                  Great Smoky Mountains National Park              131
                  Yellowstone National Park                        131
                  Yosemite National Park                           131
Mammal            Bryce National Park                              300
                  Great Smoky Mountains National Park              300
                  Yellowstone National Park                        300
                  Yosemite National Park                           300
Nonvascular Plant Bryce National Park                              333
                  Great Smoky Mountains National Park              333
                  Yellowstone National Park                        333
                  Yosemite National Park                           333
Reptile           Bryce National Park                               81
                  Great Smoky Mountains National Park               81
                  Yellowstone National Park                         81
                  Yosemite National Park                            81
Vascular Plant    Bryce National Park                             4890
                  Great Smoky Mountains National Park             4890
                  Yellowstone National Park                       4890
                  Yosemite National Park                          4890

                                                       common_names  \
category          park_name
Amphibian         Bryce National Park                            82
                  Great Smoky Mountains National Park            82
                  Yellowstone National Park                      82
                  Yosemite National Park                         82
Bird              Bryce National Park                           591
                  Great Smoky Mountains National Park           591
                  Yellowstone National Park                     591
                  Yosemite National Park                        591
Fish              Bryce National Park                           131
                  Great Smoky Mountains National Park           131
                  Yellowstone National Park                     131
                  Yosemite National Park                        131
Mammal            Bryce National Park                           300
                  Great Smoky Mountains National Park           300
                  Yellowstone National Park                     300
                  Yosemite National Park                        300
Nonvascular Plant Bryce National Park                           333
                  Great Smoky Mountains National Park           333
                  Yellowstone National Park                     333
                  Yosemite National Park                        333
Reptile           Bryce National Park                            81
                  Great Smoky Mountains National Park            81
                  Yellowstone National Park                      81
                  Yosemite National Park                         81
Vascular Plant    Bryce National Park                          4890
                  Great Smoky Mountains National Park          4890
                  Yellowstone National Park                    4890
                  Yosemite National Park                       4890

                                                       conservation_status  \
category          park_name
Amphibian         Bryce National Park                                    7
                  Great Smoky Mountains National Park                    7
                  Yellowstone National Park                              7
                  Yosemite National Park                                 7
Bird              Bryce National Park                                   87
                  Great Smoky Mountains National Park                   87
                  Yellowstone National Park                             87
                  Yosemite National Park                                87
Fish              Bryce National Park                                   12
                  Great Smoky Mountains National Park                   12
                  Yellowstone National Park                             12
                  Yosemite National Park                                12
Mammal            Bryce National Park                                   58
                  Great Smoky Mountains National Park                   58
                  Yellowstone National Park                             58
                  Yosemite National Park                                58
Nonvascular Plant Bryce National Park                                    5
                  Great Smoky Mountains National Park                    5
                  Yellowstone National Park                              5
                  Yosemite National Park                                 5
Reptile           Bryce National Park                                    5
                  Great Smoky Mountains National Park                    5
                  Yellowstone National Park                              5
                  Yosemite National Park                                 5
Vascular Plant    Bryce National Park                                   46
                  Great Smoky Mountains National Park                   46
                  Yellowstone National Park                             46
                  Yosemite National Park                                46

                                                       observations
category          park_name
Amphibian         Bryce National Park                            82
                  Great Smoky Mountains National Park            82
                  Yellowstone National Park                      82
                  Yosemite National Park                         82
Bird              Bryce National Park                           591
                  Great Smoky Mountains National Park           591
                  Yellowstone National Park                     591
                  Yosemite National Park                        591
Fish              Bryce National Park                           131
                  Great Smoky Mountains National Park           131
                  Yellowstone National Park                     131
                  Yosemite National Park                        131
Mammal            Bryce National Park                           300
                  Great Smoky Mountains National Park           300
                  Yellowstone National Park                     300
                  Yosemite National Park                        300
Nonvascular Plant Bryce National Park                           333
                  Great Smoky Mountains National Park           333
                  Yellowstone National Park                     333
                  Yosemite National Park                        333
Reptile           Bryce National Park                            81
                  Great Smoky Mountains National Park            81
                  Yellowstone National Park                      81
                  Yosemite National Park                         81
Vascular Plant    Bryce National Park                          4890
                  Great Smoky Mountains National Park          4890
                  Yellowstone National Park                    4890
                  Yosemite National Park                       4890